a, abbr, address, article, aside, audio, b, blockquote, body, button, canvas,
caption, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset,
figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup,
html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav,
object, ol, p, pre, q, samp, section, small, span, strong, sub, summary,
sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  outline: none !important; }

input:focus, textarea:focus, select:focus {
  outline: none !important; }

article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary {
  display: block; }

a, ins, del {
  text-decoration: none; }

ul, ol {
  list-style: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

caption, th {
  text-align: left; }

body {
  margin: 0 !important;
  padding: 0 !important; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

html, body {
  height: 100%; }

body {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 12px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important; }

.mobile {
  background: #111;
  position: relative;
  height: 960px;
  overflow: hidden; }
  .mobile * {
    text-shadow: none !important; }
  .mobile #map {
    width: 100%;
    height: 220px;
    -webkit-transition: all 1s ease;
    -webkit-transform: translate3d(0, 0, 0); }
    .mobile #map.full {
      height: 960px; }
    .mobile #map .gmnoprint {
      display: none; }
  .mobile .content {
    background: -webkit-linear-gradient(top, #25292c 0%, #1a1d1f 100%);
    background: -moz-linear-gradient(top, #25292c 0%, #1a1d1f 100%);
    background: -o-linear-gradient(top, #25292c 0%, #1a1d1f 100%);
    background: linear-gradient(top, #25292c 0%, #1a1d1f 100%);
    border-top: 1px solid #060709;
    position: relative; }
  .mobile .fullscreen {
    top: 28px;
    right: 12px;
    position: absolute;
    width: 42px;
    height: 42px;
    background: url(../images/fullscreen.png) 100% 100% no-repeat;
    display: block;
    z-index: 99999; }
  .mobile .current-task {
    width: 100%;
    height: 120px;
    background: -webkit-linear-gradient(top, #121518 0%, #30353a 100%);
    background: -moz-linear-gradient(top, #121518 0%, #30353a 100%);
    background: -o-linear-gradient(top, #121518 0%, #30353a 100%);
    background: linear-gradient(top, #121518 0%, #30353a 100%);
    border-top: 1px solid #5f6266;
    border-bottom: 1px solid #1b1e20;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px 16px;
    position: relative; }
    .mobile .current-task .counter {
      color: #ddd;
      -webkit-transform: translate3d(0, 0, 0);
      -webkit-transform: scale(0.55);
      position: absolute;
      left: 10px;
      width: 100%;
      top: -42px;
      z-index: 99999; }
    .mobile .current-task .icon {
      position: absolute;
      left: 16px;
      top: 48px; }
    .mobile .current-task .address {
      padding: 23px 32px 0 76px;
      font-size: 1.3em;
      line-height: 1.5em;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      text-align: left;
      right: 20px;
      position: relative;
      color: #ddd; }
      .mobile .current-task .address em {
        font-size: 1.4em;
        line-height: 1.7em;
        color: #fafafa; }
  .mobile .shadow {
    position: absolute;
    top: -20px;
    width: 100%;
    height: 20px;
    z-index: 999;
    left: 0;
    background: url(../images/shadow.png) repeat-x; }
  .mobile .menu {
    width: 100%;
    position: fixed;
    bottom: -2px;
    z-index: 99999; }
    .mobile .menu img {
      width: 100%; }
  .mobile .next-order {
    width: 100%;
    height: 80px;
    position: relative; }
    .mobile .next-order .address {
      color: #737d86;
      padding: 24px 32px 0 76px;
      font-size: 1.2em;
      text-align: left; }
    .mobile .next-order .icon {
      position: absolute;
      left: 16px;
      top: 16px; }
